/* reset.css */

/* Box sizing rules */
html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }
  
  /* Remove default margin */
  body, h1, h2, h3, h4, p, figure, blockquote, dl, dd {
    margin: 0;
    padding: 0;
  }
  
  /* Remove default padding */ss
  body, figure, blockquote, dl, dd {
    padding: 0;
  }
  
  /* Remove list styles on ul, ol elements */
  ul, ol {
    list-style: none;
  }
  
  /* Set core body defaults */
  body {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6;
  }
  
  /* Remove hyperlink decoration */
  a {
    text-decoration: none;
  }
  
  /* Remove border on images inside links */
  img {
    border-style: none;
  }
  
  /* Clear floats */
  .clearfix::after {
    content: "";
    display: table;
    clear: both;
  }
  